<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-78352058-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-78352058-6');
  </script>
  <!-- Facebook domain version meta tag -->
  <meta name="facebook-domain-verification" content="1xubt2mkk9jgyufxcdj4vrs4kbunki" />
  <!-- Facebook domain version meta tag ends -->

  <!--  Facebook Pixel-->
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '2732234897000531');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2732234897000531&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->
  <!--  Pixel end-->

  <meta charset="UTF-8">
  <% var metatags %>
  <title>
    <% if (metatags === undefined) { %>
    <%= "Web Developer for your business: Nodejs, php, WordPress, JavaScript | Shihabiiuc" %>
    <% } else { %>
    <%= metatags.title %>
    <% } %>
  </title>
  <meta name="description" content="<% if (metatags === undefined) { %>
    <%= "Web designer & developer team for your business. We design & develop websites using Nodejs, Express, MongoDB, JavaScript and WordPress." %>
  <% } else { %>
    <%= metatags.description %>
  <% } %>">
  <meta name="keywords" content="<% if (metatags === undefined) { %>
    <%= "web developer, web designer, web design, wordpress, nodejs, express, mongodb, javascript, ecommerce" %>
  <% } else { %>
    <%= metatags.keywords %>
  <% } %>">
  <meta name="author" content="Shihab Ul Haque">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@shihabiiuc">
  <meta name="twitter:creator" content="@shihabiiuc">
  <meta name="twitter:title"
    content="Web Development for Your Business: Nodejs, Express, JavaScript, MongoDB; PHP, WordPress">
  <meta name="twitter:description"
    content="Providing web design & development service around the globe since 2016, created large number of websites for clients which helped business owners to boost their reputations, getting more sales & conversion. No one was regretted hiring me!">
  <meta name="twitter:image" content="https://www.shihabiiuc.com/twitter-card.jpg">
  <!-- Twitter Card End -->
  <!-- Linkedin Card -->
  <meta property='og:title'
    content="Web Development for Your Business: Nodejs, Express, JavaScript, MongoDB; PHP, WordPress" />
  <meta property='og:image' content="https://www.shihabiiuc.com/linkedin-card.jpg" />
  <meta property="og:type" content="website" /><!--  og:type is only for Facebook-->
  <meta property='og:description'
    content="Providing web design & development service around the globe since 2016, created large number of websites for clients which helped business owners to boost their reputations, getting more sales & conversion. No one was regretted hiring me!" />
  <meta property='og:url' content="https://www.shihabiiuc.com/" />
  <!-- Linkedin Card End -->


  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
  <!-- for header menu -->
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@900&display=swap" rel="stylesheet">
  <!-- for page banner headline -->
  <link href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap" rel="stylesheet">
  <!-- for generic heading -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <!-- for text -->
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
    integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/main.css">
  <meta name="google-site-verification" content="uYpe2fhnK8K3ZtfivJA2_QdpeWys0wJ2bqnjZtS8Dig" />
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script -->
</head>

<body>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v8.0'
      });
    };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your Chat Plugin code -->
  <div class="fb-customerchat"
    attribution=setup_tool
    page_id="111105197418733"
    theme_color="#292929"
    logged_in_greeting="Hi! How can I help with your website?"
    logged_out_greeting="Hi! How can I help with your website?">
  </div>

  <!-- PRELOADER -->
  <!-- <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div> -->

  <header class="shihabaiiuc_header">
    <!-- navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="header">

        <div class="container">

            <!-- LOGO -->
            <a class="navbar-brand shihabiiuc-logo" href="/"><img src="../shihabiiuc-logo.svg" alt="logo header"></a>

            <!-- mobile menu toggle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/web-development-resource-questionnaire-form">Resource</a>
                    </li>
                   <!--
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Deals
                        </a>
                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="aboutus.html">Deal 1</a>
                            <a class="dropdown-item" href="blog.html">Blog</a>
                            <a class="dropdown-item" href="single.html">Single Blog Page</a>
                            <a class="dropdown-item" href="page-elements.html">Page Elements</a>
                        </div>
                    </li>
                    
                  -->
                  <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link header-search-icon" href="#" title="Search" data-toggle="tooltip"
                      data-placement="bottom"><i class="fas fa-search" ></i></a>
                    </li>

                </ul>

            </div><!-- /.collapse -->
        </div><!-- /.container -->
    </nav>

</header>  
<div id="content"></div>
<!-- dynamic navigation height spacing -->