<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Web Design &amp; Development Pricing</h1>
    <p class="lead">Built with WordPress, premium themes or custom written themes, mobile responsive design, SEO tool
      setup &amp; optimized, highest security, spam protection, fast loading speed optimization, content upload, and
      much more.</p>
    <p>Extra benefit: Future support &amp; friendly cooperation, prompt reply, customization, Git version control.</p>
    <hr />
  </div>
</div>

<div class="container py-md-5">
  <div class="card-deck text-center">
    <%- include('./pricing-packages/basic') %> <%- include('./pricing-packages/standard') %>
    <%- include('./pricing-packages/ecommerce') %>
  </div>
</div>

<!-- Testimonial -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <h2 class="text-center text-success">Client&apos;s Feedback</h2>
    <div class="carousel-item active">
      <blockquote class="blockquote text-center">
        <p class="mb-0">Shihab Haque is an incredible web designer and proficient at "all things" web related. I highly
          recommend him. He's honest, patient and a very hard working. I've used him for all our web related work and
          will continue to hire Shihab in the future!</p>
        <footer class="blockquote-footer">
          Jillkahn, Empowerhouse Group, <cite title="Source URL"><a
              href="https://www.instagram.com/empowerhouseleadership/" target="_blank">IG Profile</a></cite>
        </footer>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="blockquote text-center">
        <p class="mb-0">I was really impressed by the efficiency, speed and technical support of Shihab. When I need it,
          I will certainly use his services because I am really satisfied with his job.</p>
        <footer class="blockquote-footer">
          Diamoro, Brioschisrl, <cite title="Client wants to be anonymous"><a class="link-disabled"
              href="https://www.brioschisrl.it/" target="_blank">Website&sol;Profile</a></cite>
        </footer>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="blockquote text-center">
        <p class="mb-0">Shihabiiuc is the absolute best! He is a great designer, wordpress guru and great to work with
          and will get take care of you. I will continue to use him for all our work.</p>
        <footer class="blockquote-footer">
          Upchurch, 33supply, <cite title="Source URL"><a href="https://www.instagram.com/33supply/" target="_blank">IG
              Profile</a></cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="container py-md-5 container--narrow">
  <p class="lead">Love is like war, very easy to start but difficult to end. Same thing true about web development.
    There are lots of competitor, beneficiary &amp; vulnarabilities out there. As a developer, we have to take into
    count all the issues &amp; possibilities. Web design? it&apos;s easy, and even non-technical person can build nice
    looking website with
    few clicks. But developing a <strong>successful</strong> website, it depends!</p>
  <p class="lead text-muted">
    Developing a successful website &amp; building reputation takes time. More specifically it&apos;s a long run.
    I&apos;m committed to be with you along the way. I still have clients from 2016 &amp; till to date. If my
    commitment touches your heart, give me shout.
  </p>
  <p class="lead">
    Sometimes you&apos;ll see both singular &amp; plural persons (I&sol;we). This is because I&apos;ve a small web
    development studio locally. I&apos;m not guru in all the fields. There are other professionals are working with me.
    I expend huge time &amp; investment building the team so I can provide you a better experience. If you ever
    worried about changing your developers frequently or if you have hard time finding all types of professionals then I
    would say
    that you can think of me as a ONE STOP SHOP for web development.
  </p>
  <p class="lead text-muted">
    I have to say that I got huge love &amp; dignity from my honorable clients. My parents was totally frustrated when I
    leave my regular job and decided to start freelancing. Those days was very hard for me, it took me huge effort to
    stand
    out from the crowd. Now I don&apos;t think that my parents are still frustrated but theye are little bit worried
    about my sleeping time. Thanks to all of my clients who have given me the chance to Redesign &amp; Redevelopment of
    my
    career.
  </p>
  <p class="text-monospace font-italic">Thanks for reading thus far<br>
    Shihab, Full Stack JavaScript Developer &amp; Team Organizer<br>
    shihabiiuc
  </p>

</div>

<%- include('includes/footer') %>