<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Web Design &amp; Development Pricing</h1>
        <p class="lead">Built with WordPress, premium themes or custom written themes, mobile responsive design, SEO tool setup &amp; optimized, highest security, spam protection, fast loading speed optimization, content upload, and much more.</p>
        <p>Extra benefit: Future support &amp; friendly cooperation, prompt reply, customization, Git version control.</p>
        <hr>
    </div>
</div>

<div class="container py-md-5">
    <div class="card-deck text-center">
        <%- include('./pricing-packages/basic') %>
        <%- include('./pricing-packages/standard') %>
        <%- include('./pricing-packages/ecommerce') %>
    </div>
</div>

<div class="container py-md-5 container--narrow">
    <p class="lead">
        Registering on our website isn&apos;t mandatory to purchase any of our services or making payment. Once you create an order &amp; make payment, we&apos;ll contact you through your email associated with your payment method. If your contact email is different, you can update us at anytime and also you can change your contact email or other contact method with us. Further information will be found on your invoice. If you have any questions, please contact Shihab: <code>shihabdinajpur&commat;gmail.com</code>
    </p>
    <p class="lead">
        If you&apos;ve different types of web designing &amp; developing requirements including redesigning, customizing, please contact for a quick discussion to get a perfect ROI, deadline &amp; quote.
    </p>
</div>

<div class="container py-md-5 container--narrow text-center mb-5">
    <a href="https://www.bluehost.com/track/shihabiiuc/pricing" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/430x288/430x288PW.png"> </a>
</div>

<%- include('includes/footer') %>